@import "./Vars.scss";
@import "./Media.scss";

body {
  margin: 0;
  font-family: $theme-font;
  background: $main-color;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

h3 {
  color: orange;
  margin-top: -16px;
  padding-left: 60px;
  margin-bottom: 30px;
  width: 100%;
}
